<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <title>Document</title>
    <style>
      body {
        background-image: url("p5.jpg");
      }
    </style>
  </head>
  <body>
    <div class="x"></div>
    <div class="home-form">
      <a class="home" href="/"><img class="icon" src="/logo.png" alt="" /> </a>
      <form id="name-form" action="/where" method="post">
        <div class="form-wrapper">
          <input
            id="name"
            type="text"
            placeholder="Enter Your Name"
            name="name"
          />
          <input type="submit" class="btn h" value="New Game" name="new" />
          <input type="submit" class="btn h" value="Join Game" name="join" />
        </div>
      </form>
    </div>
  </body>
</html>
